body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    display: block;
    font-family: monospace;
    font-size: 58px;
    width: 100%;
    text-align: center;
}

#main-container {
    display: grid;
    grid-template-rows: repeat(16, auto);
     grid-template-columns: repeat(16, auto);
    width: 540px;
    height: 540px;
    outline: solid black 4px;
    box-shadow: 8px 8px 10px;
}

#lower-container {
    display: flex;
    width: 95vw;
    justify-content: center;
    margin-top: 20px;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    text-align: center;
    margin-bottom: 8px;
}

#slider-column {
    border: solid rgb(157, 157, 157) 2px;
    border-radius: 10px;
    padding: 10px;
    opacity: 80%;
    transition: 0.5s;
}

#slider-column:hover {
    border: solid rgb(0, 0, 0) 2px;
    opacity: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background-image: linear-gradient(90deg, blue, purple, red );
    border-radius: 10px;
    opacity: 70%;
    
    transition: 0.5s;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb{
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.slider:hover{
    opacity: 100%;
    border: solid black 2px;
}

.slider::after {
    content:'108';
    color: black;
    font-size: 24px;
    position: absolute;
    top: 25%;
    left: 80%;
}

.slider::before {
    content:'0';
    color: black;
    font-size: 24px;
    position: absolute;
    top: 25%;
    left: 12%;
}

#rainbow-btn {
    background-color: rgb(226, 226, 226);
    margin-right: 100px;
    height: 50px;
    width: 150px;
    background-image: linear-gradient(red, orange, yellow, green, blue, indigo, purple);
    font-weight: 800;
    color: white;
    opacity: 80%;
    border-radius: 5px;

    transition: 0.5s;
}

#rainbow-btn:hover {
    opacity: 100%;
    border: solid black 2px;
}

#color-btn {
    background-color: rgb(239, 239, 239);
    margin-right: 100px;
    height: 50px;
    width: 150px;
    font-weight: 800;
    color: rgb(99, 99, 99);
    opacity: 80%;
    border-radius: 5px;
    
    transition: 0.5s;
    }
#color-btn:hover {
    opacity: 100%;
    color: black;
    border: solid black 2px;
    }

#color-btn {
    background-color: rgb(239, 239, 239);
    margin-right: 100px;
    height: 50px;
    width: 150px;
    font-weight: 800;
    color: rgb(99, 99, 99);
    opacity: 80%;
    border-radius: 5px;
    
    transition: 0.5s;
    }
#color-btn:hover {
    opacity: 100%;
    color: black;
    border: solid black 2px;
    }

#eraser-btn {
    background-color: rgb(252, 161, 233);
    margin-right: 100px;
    height: 50px;
    width: 150px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    opacity: 80%;
    border-radius: 5px;
    
    transition: 0.5s;
    }
#eraser-btn:hover {
    opacity: 100%;
    color: black;
    border: solid black 2px;
    }


