body {
    display: flex;
    margin: 0;
    padding: 15px;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('cloudy-landscape-cumulus-haze-scenic.jpg');
    background-position:center;
    overflow: hidden;
} 

@font-face {
    font-family: Royal-Initialen;
    src: url('RoyalInitialen.ttf');
}

.etch-sketch-container {
    position: relative;
    max-width: min-content;
    right: 18px;
    bottom: 50px;
}

.etch-sketch-container > *:not(img){
    position: absolute;
}

.etch-sketch-img {
    z-index: -1;
    max-width: revert;
}

#canvas-container {
    display: grid;
    grid-template-rows: repeat(16, auto);
    grid-template-columns: repeat(16, auto);
    top: 6.65rem;
    left: 8rem;
    height: 55.5%;
    width: 67%;
    opacity:0.6;
    overflow:hidden;
    border-radius: 5%;
}

.buttons {
    height: 8em;
    width: 8em;
    border-radius: 1rem;
    border: solid black 0.2rem;
}

#mode-picker-container{
    display: flex;
    font-family: Royal-Initialen;
    font-size: 3rem;
    color: #0d0a00bc;
    background-image: url('gold-backdrop.jpeg');
    margin-left: 3rem;
    margin-right: 3rem;
    border: solid black 3px;
    height: 25rem;
    width: 12rem;
    padding: 1.25rem;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: 0.5s;
}

#lower-container {
    display: flex;
    position: absolute;
    left: 18.5%;
    bottom: 4rem;
    width: 57rem;
    justify-content: center;
    height: 2.5rem;
}

.text {
    font-family: monospace;
    font-weight: 800;
    text-align: center;
    margin-bottom: 8px;
}

#slider-column {
    height: 3rem;
    width: 50rem; 
} 

.text {
    font-family: Royal-Initialen;
    font-size: 2.5rem;
    color: #0d0a00bc;
}

.slider {
    -webkit-appearance: none;
    background-image: url('background-image-g6f93ebd5c_1280.jpg');
    width: 99%;
    height: 1rem;
    border: solid rgb(0, 0, 0) 3px;
    border-radius: 10px;
    transition: 0.5s;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb{
    width: 25px;
    height: 25px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
}


#input-color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#rainbow-btn {
    background-image: linear-gradient(red, orange, yellow, green, blue, indigo, purple);
    opacity: 100%;

    transition: 0.5s;
}

#rainbow-btn:hover {
    box-shadow: 0 0 0.2rem 0.2rem #fffcc0;
}

#eraser-btn {
    background-color: rgb(252, 161, 233);
    
    transition: 0.5s;
    }

#eraser-btn:hover {
    box-shadow: 0 0 0.2rem 0.2rem #fffcc0;
    }


#input-color::-webkit-color-swatch{

    border-radius: 1rem;
    border: solid black 0.2rem;
    transition: 0.5s;
}

#input-color::-moz-color-swatch{
    
    border-radius: 1rem;
    border: solid black 0.2rem;
    transition: 0.5s;
}

#input-color::-webkit-color-swatch:hover{
    box-shadow: 0 0 0.3rem 0.3rem #fffcc0;
}

#input-color::-moz-color-swatch:hover{
    box-shadow: 0 0 0.3rem 0.3rem #fffcc0;
}

#mode-picker-container:hover {
    box-shadow: 0 0 0.65rem 0.65rem #fffcc0;
}

.slider:hover {
    box-shadow: 0 0 0.65rem 0.65rem #fffcc0;
}


