body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: rgb(255, 255, 0);
}

#Title {
    display: block;
    font-family: monospace;
    font-size: 58px;
    text-align: center;
    margin-top: 0px;
}

#main-container {
    display: flex;
    width: 99vw;
    padding-bottom: 20px;
    
}

#canvas-container {
    display: grid;
    grid-template-rows: repeat(16, auto);
    grid-template-columns: repeat(16, auto);
    width: 540px;
    height: 540px;
    margin-left: 150px;
    border: solid black 4px;
    box-shadow: 8px 8px 10px black;
}

#color-picker-container{
    display: flex;
    margin-left: 75px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#input-color {
    height: 200px;
    width: 150px;
}

#lower-container {
    display: flex;
    width: 95vw;
    justify-content: center;
    margin-top: 20px;
}

.text {
    font-family: monospace;
    font-weight: 800;
    text-align: center;
    margin-bottom: 8px;
}

#slider-column {
    border: solid rgb(157, 157, 157) 2px;
    background-color: rgba(255, 255, 255, 0.585);
    width:700px;
    border-radius: 10px;
    padding: 10px;
    opacity: 80%;
    transition: 0.5s;
}

#slider-column:hover {
    border: solid rgb(0, 0, 0) 2px;
    opacity: 100%;
    background-color: rgba(255, 255, 255, 0.815);
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background-image: linear-gradient(90deg, blue, purple, red );
    border-radius: 10px;
    opacity: 70%;
    
    transition: 0.5s;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb{
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.slider:hover{
    opacity: 100%;
    border: solid black 2px;
}



#rainbow-btn {
    font-size: 24px;
    background-color: rgb(226, 226, 226);
    margin-top: 50px;
    height: 100px;
    width: 200px;
    background-image: linear-gradient(red, orange, yellow, green, blue, indigo, purple);
    font-weight: 800;
    color: white;
    border: solid black 2px;
    opacity: 90%;
    border-radius: 5px;

    transition: 0.5s;
}

#rainbow-btn:hover {
    opacity: 100%;
    border: solid black 2px;
    height:110px;
    width:210px ;
    box-shadow: 4px 4px black;
}

#color-btn {
    font-size: 24px;
    background-color: rgb(239, 239, 239);
    border: solid black 2px;
    height: 100px;
    width: 200px;
    font-weight: 800;
    color: rgb(58, 58, 58);
    opacity: 90%;
    border-radius: 5px;
    
    transition: 0.5s;
    }
#color-btn:hover {
    opacity: 100%;
    color: black;
    border: solid black 2px;
    box-shadow: 4px 4px ;
    height:110px;
    width:210px ;
    }

#eraser-btn {
    font-size: 24px;
    background-color: rgb(252, 161, 233);
    margin-top: 50px;
    height: 100px;
    width: 200px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    opacity: 90%;
    border-radius: 5px;
    border: solid black 2px;
    
    transition: 0.5s;
    }
#eraser-btn:hover {
    opacity: 100%;
    height: 55px;
    width:155px ;
    color: black;
    border: solid black 2px;
    height:110px;
    width:210px ;
    box-shadow: 4px 4px 
    }

#inputcolor {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 100px;
    width: 205px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#inputcolor::-webkit-color-swatch{
    border-radius: 15px;
    border: solid black 2px;
    transition: 0.5s;
}

#inputcolor::-moz-color-swatch{
    border-radius: 5px;
    border: solid black 2px;
    transition: 0.5s;
}

#inputcolor::-webkit-color-swatch:hover{
    border-radius: 15px;
    border: solid black 2px;
    box-shadow: 4px 4px 
}

#inputcolor::-moz-color-swatch:hover{
    border-radius: 5px;
    border: solid black 2px;
    box-shadow: 4px 4px 
}


